.App {
  text-align: center;
}
.form {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.form h2, .form input {
  width: 100%;
}
.form .email {
  width: 100%;

}
.form .username {
  width: 100%;
}
.form .pass {
  margin: 0;
  width: 100%;
}
.form .btn_auth {
  margin-top: 40px;
  width: 100%;
}
.tabList {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
.home_page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_info {
  margin: 40px 0;
}
.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.user_info_username, .user_info_email {
  width: 100%;
  font-weight: bold;
  text-align: left;
}
.send_email, .list_emails {
  padding: 40px;
}
.from_send_email {
  text-align: left;
}
.open_from_send_email {
  margin-bottom: 40px;
}
.from_send_email div {
  margin-bottom: 15px;
  width: 100%;
}
.list_emails ul {
  margin: 0;
  padding: 0;
}
.list_emails ul li {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #c3c3c3
}
.list_emails ul li div {
  margin: 0 10px;
}
.count {
  text-align: left;
  margin-bottom: 40px;
  margin-left: 10px;
}
ul.pagination {
  display: flex;
}